<header>
    <div id="header-div">
        <% if (locals.user) { %>
            <p><a href="/user/signOut">Sign Out</a></p>
        <% } else { %>
            <p><a href="/user/signUp">Sign Up</a></p>
        <% } %>
        <% if (locals.user) { %>
            <p><a href="/user/home">Home</a></p>
        <% } else { %>
            <p><a href="/user/signIn">Sign In</a></p>
        <% } %>
    </div>
</header>