<link rel="stylesheet" href="/css/forgot_pwd.css" />

<form action="/forgot_password/create-token" method="post">
  <label for="userEmail">Enter your email to send password reset link</label>
  <input
    id="userEmail"
    type="email"
    name="email"
    placeholder="Your email"
    required
  />
  <button type="submit">Send</button>
</form>
