<form action="/forgot_password/reset/<%= user._id %>" method="post">
    <label for="password">Enter new Password</label>
    <input type="password" name="password" id="password">
    <label for="confirm-password">Confirm Password</label>
    <input type="password" name="confirm_password" id="confirm-password">
    <button type="submit">Reset</button>
</form>